<nav class="fixed w-full top-0 z-50 bg-black/10 backdrop-blur-lg transition-colors duration-300 md:px-10 lg:px-10">
  <div class="container mx-auto flex h-20 items-center justify-between px-4">
    <!-- Logo and Home Link -->
    <!-- <a routerLink="#" class="flex items-center">
        <img class="h-10 w-auto" src="https://little-joy-studio.vercel.app/studio.png" width="999" height="999" alt="little joys studio" />
      </a> -->
    <a routerLink="/" class="flex items-center shrink-0">
      <img class="w-10" height="100" width="100" src="https://tailwindflex.com/images/logo.svg" alt="Talwindflex logo">
      <span class="md:flex text-2xl mt-0.5 font-bold text-primary-600 text-gray-700">
        Garage
      </span>
    </a>

    <!-- Desktop Menu Links -->
    <div class="hidden md:flex items-center md:gap-8 text-gray-700">
      <a routerLink="/" class="text-sm font-medium hover:text-sky-600 transition">Accueil</a>
      <a routerLink="#about" class="text-sm font-medium hover:text-sky-600 transition">About</a>
      <a routerLink="/services" class="text-sm font-medium hover:text-sky-600 transition">Services</a>
      <a routerLink="/contact" class="text-sm font-medium hover:text-sky-600 transition">Contact</a>
      <a routerLink="/reservation" class="text-sm font-medium hover:text-sky-600 transition">Réservation</a>
      <div *ngIf="isAuthenticated; else loginTemplate">
        <div class="flex items-center space-x-3">
          <span class="relative">
            <i class="fas fa-bell text-2xl"></i>
            <span
              class="absolute -top-2 -right-2 bg-red-500 text-gray-700 rounded-full w-5 h-5 flex items-center justify-center text-xs">3</span>
          </span>
          <a routerLink="/client-dashboard">
            <div class="flex items-center space-x-2">
              <img src="https://via.placeholder.com/40" alt="Photo profil" class="rounded-full">
              <span>{{ userRole }}</span>
            </div>
          </a>
          <a (click)="logout()"
            class="cursor-pointer rounded-lg border-2 py-2 px-6 border-gray-700 bg-gray-700 text-gray-900 hover:bg-gray-900 hover:text-gray-700 hover:shadow-lg transition duration-300 ease-in-out">
            Déconnexion
          </a>
        </div>
      </div>

      <!-- Si l'utilisateur n'est pas connecté -->
      <ng-template #loginTemplate>
        <a routerLink="/login"
          class="cursor-pointer rounded-lg border-2 py-2 px-6 border-gray-700 bg-gray-700 text-gray-900 hover:bg-gray-900 hover:text-gray-700 hover:shadow-lg transition duration-300 ease-in-out">
          Connexion
        </a>
      </ng-template>
    </div>



    <!-- Mobile Menu Button -->
    <div class="md:hidden">
      <button class="text-2xl text-gray-700" onclick="setIsMenuOpen(!isMenuOpen)">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
          stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
</nav>